.header__logo {
	background-size: cover;
	max-width: 142px;
	min-height: 33px;
	margin: 0;
	padding: 0;
	/*padding-top: 45px;
	padding-bottom: 41px; */
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.header__logo {
		max-width: 103.74px;
		min-height: 24.4px;
		padding-top: 28px;
		padding-left: 27px;
		padding-bottom: 31.6px;
	}
}

.header__logo:hover {
	opacity: .3;
	cursor: pointer;
}