.header {
	max-width: 880px;
	min-height: 74px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid rgba(54, 54, 54, .7);
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.header {
		min-height: 56px;
	}
}