.header__link {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    transition: .2s;
    max-height: 22px;
    margin: 0;
	padding: 0;
	padding-top: 45px;
	padding-bottom: 41px;
}

.header__link:hover {
    cursor: pointer;
    opacity: .6;
}