.auth__link {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: .2s;
}

.auth__link:hover {
    cursor: pointer;
    opacity: .6;
}