.popup__error {
    max-width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__error {
        max-width: 342px;
    }
} 