.popup {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
  	transition: visibility .5s, opacity .5s linear;
}