.profile__avatar {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	object-fit: cover;
	padding: 0;
	margin: 0;
	margin-right: 30px;
	margin-top: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.profile__avatar {
		margin-top: 40px;
		margin-right: 0;
	}
}