.profile__edit {
    background-image: url(../../../images/profileEdit.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    opacity: 0;
    margin-right: 30px;
	margin-top: 40px;
}
    
.profile__edit:hover {
    cursor: pointer;
    transition: .5s;
    opacity: 1;
}
