.card__delete {
    position: absolute;
    width: 18px;
    height: 19px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/deleteButton.svg);
    transition: 0.3s;
    margin-top: 20px;
    margin-left: 244px;
}

.card__delete:hover {
    cursor: pointer;
    opacity: 0.6;
}