.profile__title {
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	margin: 0;
	width: 294px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.profile__title {
		font-size: 27px;
		line-height: 33px;
		width: 189px;
	}
}